.section__banner{
  padding: 0;
}
.section__banner--img {
@include imageBlock;
  @media (max-width: 767px) {
  }
}
.container__banner{
  @media (max-width: 767px) {
    margin: 0 auto;
  }
  @media (max-width: 1199px) {
    max-width: 1125px;
  }
}
