.section-instagram{
  padding-top: 38px;
  padding-bottom: 42px;
  @media (min-width: 768px){
    background-color: #F7F7F7;
    padding-top: 47px;
    padding-bottom: 50px;
  }
  //@media (min-width: 0px){
  //}
}
.container-instagram{
  @media (max-width: 767px){
    padding-right: 47px;
  }
}
.section-instagram__header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.section-title__inst{
  @media (max-width: 767px) {
    margin-bottom: 13px;
  }
  @media (max-width: 1199px) {
    margin-bottom: 35px;
  }
}
.section-instagram__link{
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: $hardColor;
  @media (max-width: 767px){
    display: none;
  }
  @media (max-width: 1199px){
  }
}
.section-instagram__body{
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 10px;
  @media (max-width: 1199px){
    grid-template-columns: repeat(3, auto);
    height: auto;
    & img:nth-last-child(1){
      display: none;
    }
  }
  @media (max-width: 767px){
    grid-template-columns: auto;
    height: auto;
    width: 100%;
    & img:nth-child(1n+2){
      display: none;
    }
  }
}
.grid-instagram__element{
  @include imageBlock;
  @media (max-width: 1199px){
  }
  @media (max-width: 767px){
  }
}

