.section-posts {
  padding: 69px 0;
  @media (max-width: 1199px){
    padding-top: 56px;
    padding-bottom: 60px;
  }
  @media (max-width: 767px){
    padding-top: 38px;
    padding-bottom: 40px;
  }
}
.section-posts__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 25px;
  row-gap: 32px;
  @media (max-width: 1199px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: auto;
    padding-right: 28%;
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: auto;
    row-gap: 28.5px;
    padding-right: 20%;
    & div:nth-child(4){
      display: none;
    }
  }
}
.grid-post__element{
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  @media (max-width: 767px){
    flex-direction: column;
    row-gap: 11px;
  }
  @media (max-width: 1199px){
  }
}
.post__image{
  @include imageBlock;
  @media (max-width: 1199px){
    max-width: 29%;
  }
  @media (max-width: 767px){
    max-width: 62.5%;
  }
}
.grid-post__content{
}
.post-content__title{
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: $hardColor;
  @media (max-width: 767px){
    font-size: 14px;
  }
  @media (max-width: 1199px){
  }
}
.post-content__comments{
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: $lightColor;
  @media (max-width: 767px){
    font-size: 11px;
  }
  @media (max-width: 1199px){
  }
}
.post-content__description{
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: $middleColor;
  margin-top: 13px;
  @media (max-width: 767px){
    display: none;
  }
  @media (max-width: 1199px){
  }
}
