*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;
    height: auto;
    font-family: sans-serif;
    font-size: 16px;
    color: #000;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    border: none;
}

.container {
    width: 1200px;
}

.grid {
    background: #EEE;
    max-width: 1200px;
}


/* ---- grid-item ---- */

.grid-item {
    float: left;
    margin: 3px;
}


/*.width1 { width: 115px; margin-bottom: 3px; }*/
/*.width2 { width: 119px; margin-right: 3px; margin-bottom: 3px; }*/
/*.width3 { width: 124px; margin-right: 3px; margin-bottom: 3px; }*/
/*.width4 { width: 180px; margin-right: 3px; margin-bottom: 3px; }*/
/*.width5 { width: 363px; }*/
/*.width6 { width: 378px; margin-right: 20px; margin-bottom: 20px}*/

/*.height1 { height: 92px; }*/
/*.height2 { height: 168px; }*/
/*.height3 { height: 247px; }*/
/*.height4 { height: 254px; }*/
/*.height5 { height: 263px; }*/
/*.height6 { height: 290px; }*/
/*.height7 { height: 373px; margin-top: 13px; }*/
/*.height8 { height: 380px; }*/



/*footer*/

.footer {
    width: 100%;
    height: 121px;
    left: 0;
    top: 0;
    background: #22353F;
    /*border-radius: 50%;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__content {
    margin: auto;
    color: #AEAEAE;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
}
.the__ham__footer {
    color: #18CFAB;
}