.footer{
  width: 100%;
  background: #000000;
}
.container-footer{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 25px;
  font-weight: 400;
  color: #B9B9B9;
  text-align: center;
  padding: 66px 20% 70px;
  @media (max-width: 1199px){
    padding: 57px 138px 56px 118px;
  }
  @media (max-width: 767px) {
    padding: 38px 35px 47px;
  }
}
.footer__info{}

.footer__title{
  color: #FEFEFE;
  @media (max-width: 1199px) {
    margin-bottom: 22px;
  }
  @media (max-width: 767px) {
    margin-bottom: 8px;
  }
}
.footer__description{
  font-size: 12px;
  line-height: 20px;
  margin: 0;
  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 28px;
    & span {
      display: none;
    }
  }
}
.footer-networks{}
.footer__contacts {
  font-size: 14px;
  line-height: 24px;
  & br {
    display: none;
  }
  & span {
    color: rgba( 0, 0, 0, 0.99);
  }
  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 26px;
    & br {
      display: inherit;
    }
    & span {
      display: none;
    }
  }
}