@import "variables";
.header {
  letter-spacing: 1.1px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 29px 0 34px;
  @media (max-width: 767px) {
    padding: 23px 0;
  }
  @media (max-width: 1199px) {
  }
}

.header__body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  @media (max-width:767px){
      height: 37px;
      justify-content: right;
  }
}
.header__burger{
  display: none;
  @media (max-width:767px){
      display: block;
      position: fixed;
      width: 44px;
      height: 37px;
      background-color: black;
      z-index: 3;
    & span{
      background-color: #FFFFFF;
      position: absolute;
      width: 17px;
      height: 2px;
      left: 13px;
      top: 17px;
      transition: all 0.3s ease 0s;
    }
  }
}
.header__menu {
  width: 100%;
  @media (max-width: 767px) {
      position: fixed;
      top: -100%;
      left: 0;
      height: 100%;
      overflow: auto;
      transition: all 0.3s ease 0s;
      &--active{
        top: 0;
      }
  }
  @media (max-width: 1199px){
  }
}
.header__list{
  display: flex;
  justify-content: space-evenly;
  position: relative;
  z-index: 2;
  @media (max-width:767px){
    display: block;
    width: 50%;
    right: 27px;
    top: 60px;
    position: absolute;
    background-color: #F5F5F5;
  }
}
.header__item{
  list-style: none;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  @media (max-width: 767px) {
      display: block;
      margin: 0;
      padding: 6.5px 0 3.5px 12px;
      width: 100%;
    &:hover{
      background: #E5E5E5;
    }
  }
}
.header__link{
  text-transform: uppercase;
  color: $hardColor;
  text-decoration: none;
  font-size: 11px;
  width: 100%;
  &--active{
    color: #57A4A4;
  }
}

@media (max-width:767px){
  .header__burger:before,
  .header__burger:after{
    content: "";
    background: #FFFFFF;
    position: absolute;
    width: 17px;
    height: 2px;
    left: 13px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before{
    top: 13px;
  }
  .header__burger:after{
    bottom: 14px;
  }
  .header__burger--active:before{
    transform: rotate(45deg);
    top: 18px;
  }
  .header__burger--active:after{
    transform: rotate(-45deg);
    bottom: 17px;
  }
  .header__burger--active span{
    transform: scale(0);
  }
}

