@import "variables";
*,*:before,*:after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
body{
  margin: 0;
  font-family: "Roboto", sans-serif;
  height: 100%;
    //&--lock{
    //  overflow: hidden;
    //}
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  @media (max-width: 1199px){
    max-width: 1199px;
    padding-left: 65px;
    padding-right: 75px;
  }
  @media (max-width: 767px){
    max-width: none;
    padding-left: 25px;
    padding-right: 28px;
  }
}
.section-title{
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: $hardColor;
  text-transform: uppercase;
  margin-bottom: 24px;
  @media (max-width: 767px){
    font-size: 14px;
  }
  @media (max-width: 1199px){
  }
}
