*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    font-size: 16px;
    color: #000;
    text-align: center;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    border: none;
}

.image-to-show {
    width: 400px;
    height: 394px;
    position: absolute;
    transition: all ease 1s;
    left: 0;
    top: 0;
    margin: auto;
    opacity: 0;
    animation: animShow 0.5s forwards;
}

@keyframes animShow {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.image-to-hide {
    width: 400px;
    height: 394px;
    position: absolute;
    transition: all ease 1s;
    left: 0;
    top: 0;
    margin: auto;
    opacity: 1;
    animation: animHide 0.5s forwards;
}

@keyframes animHide {
    0% {opacity: 1;}
    100% {opacity: 0;}
}


.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    margin: 60px auto 40px auto;
}

#slide {
    width: 400px;
    height: 400px;
    border: 3px solid #c0c0c0;
    margin: 0 auto;
    position: relative;
    font-family: sans-serif;
}

.btn-style {
    padding: 5px 10px;
    display: flex;
    background-color: black;
    color: antiquewhite;
    width: 200px;
    height: 75px;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    border-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: large;
    font-weight: bold;
}

button:active {
    background-color: antiquewhite;
    color: black;
    box-shadow: 12px 12px 2px 1px rgba(100, 50, 136, .2);
    border-radius: 6px;
}
.backTimer {
    padding: 5px 10px;
    display: flex;
    background-color: black;
    color: antiquewhite;
    width: 200px;
    height: 75px;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
    border-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: x-large;
    font-weight: bold;
}
.switcher {
    display: flex;
}