*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #000;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    border: none;
}
.main__container {
    height: auto;
}
.section__header {
    background-image: url("../images/Sections background/section-1(header).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.color_green {
    background: #18CFAB;
}
.color_blue {
    background: #00CBF6;
}
.color_black {
    background: #1C2A33;
}
.color_text_green {
    color: #18CFAB;
}
.color_text_black {
    color: #1C2A33;
}
.color_text_white {
    color: #FFFFFF;
}

/*nav__container*/
.nav__container {
    height: 120px;
    width: 100%;
    background-color: rgba(94, 93, 88, 0.6);
}
.nav__header {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
}
.head_logo{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 40px;
    color: rgba(255, 255, 255, 1);
    margin-right: 305px;
}
.logo {
    background-image: url("../images/Polygon 1 1.svg");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 67px;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 6px;
}
.logo__text {
    /*font-style: inherit;*/
    /*line-height: 48px;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*width: 134px;*/
    /*height: 46px;*/
}
.logo__text__p {
    font-size: 32px;
    line-height: 48px;
    color: white;
}
.the__ham {
    color: #18CFAB;
    font-weight: 700;
}
.hd__nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin: 0;
}
.hd__nav__item {
    text-transform: uppercase;
    list-style-type: none;
    margin: auto 17px;
    border: none;
}
.hd__item__link {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 700;
    position: relative;
}

.hd__item__link:hover {
    color: #18CFAB;
}
.hd__item__link:hover::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #18CFAB;
    bottom: -50px;
    left: 0;
}
.btn__header_search {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(94, 93, 88, 0.1);
    border: none;
    padding: 2px;
    width: 27px;
    height: 25px;
    background-image: url("../images/Search icon 1.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container__header {
    margin: 0 auto;
    padding: 251px 0 243px;
    text-align: center;
    align-content: center;
}
.header__banner {
    font-style: normal;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
}
.banner__h2 {
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 auto;
}
.banner__title {
    font-weight: 700;
    font-size: 78px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 22px auto;
}
.banner__p {
    font-weight: 400;
    font-size: 34px;
    color: #D4D4D4;
    margin: 0 auto;
}
.banner__buttons {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 122px auto 0;
    width: 362px;
    height: 63px;
}

.hd__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 169px;
    height: 63px;
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 -5px rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    position: relative;
}

/*section__squares*/
.section__squares {
    width: 100%;
    display: flex;
    margin-top: 8px;
}
.squares__div {
    width: 25%;
    aspect-ratio: 1.28/1;
    text-align: center;
}
.img__square_black {
    width: 60px;
    height: 100px;
    margin: 85px auto 47px;
}
.img__square_green {
    width: 100px;
    height: 76px;
    margin: 96px auto 58px;

}
.title__square {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto 110px;
}

/*section__services*/
.section__services {
    width: 1160px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    margin: 85px auto 91px;
}
.section__title {
    width: auto;
    height: 40px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
    position: relative;
    margin-top: 0;
    margin-bottom: 97px;
}

.section__title::before {
    position: absolute;
    content: "";
    width: 79px;
    height: 1px;
    background-color: #18CFAB;
    bottom: -26px;
    left: 0;
    right: 25px;
    margin: 0 auto;
}
.section__title::after {
    position: absolute;
    content: "";
    width: 78px;
    height: 1px;
    background-color: #18CFAB;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.services__menu {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-grow: 1;
}
ul {
    list-style: none;
}
.services__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}
.tabs__title {
    padding: 16px 20px;
    background: #F8FCFE;
    color: #717171;
    cursor: pointer;
    width: 192px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid #EDEFEF;
    margin: 0;
}
.tabs__title:hover {
    border: 1px solid #18CFAB;
}
.tabs__title.active {
    background-color: #18CFAB;
    color: #FFFFFF;
}
.tabs__title.active::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #18CFAB;
    bottom: -10px;
    left: 84px;
}
.tabs__content {
    margin: 28px auto 0;
    padding: 0;
    display: flex;
}
.tab {
    display: none;
    width: 1150px;
    height: auto;
}
.tab.active {
    display: block;
    /*flex-grow: 1;*/
}
.services__text {
    margin: 0;
}
.services__img {
    width: 192px;
    height: 139px;
    float: left;
    margin-right: 15px;
}

/*section__purchase*/
.section__purchase {
    width: 100%;
    height: 476px;
    background-image: url("../images/Sections background/section-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.sect_purchase_back {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
}
.purchase__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
}
.purchase__banner {
    line-height: 40px;
    text-align: center;
}
.purchase__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    color: #18CFAB;
    margin: 0 auto 0;
}
.purchase__text {
    font-weight: 400;
    /*font-size: 16px;*/
    color: #D8D8D8;
    margin: 12px auto 67px;
}
/*section__work*/
.section__work {
    display: flex;
    width: 100%;
    background: #E9EDEF;
    height: auto;
    margin: 0;
}

.work__container {
    width: 1160px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 97px auto 0;
}
.work__container.active {
    width: 1160px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 97px auto 232px;
}

.working__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 582px;
    height: 58px;
    /*font-family: 'Montserrat', sans-serif;*/
    font-weight: 400;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.0001);
    padding: 0;
    margin: 0 auto 71px;
    cursor: pointer;
}
.tabs__title__work {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    color: #717171;
    text-align: center;
    border: 1px solid #DADADA;
    flex: 1 1 115px;
    flex-basis: max-content;
}
.tabs__title__work.active {
    color: #18CFAB;
    border: 2px solid #18CFAB;
}
.tab__img {
    display: none;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.tab__img.active {
    display: block;
}
.work__back_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 46px 42px 38px 42px;
    opacity: 0;
    background: #E9EDEF;
    border-top: 6px solid #18CFAB;
    transition: width 0.6s, height 0.6s, opacity 0.6s, transform 0.6s;
}
.tab__img:hover .work__back_block {
    opacity: 1;
    width: 290px;
    height: 211px;
    transform: rotate(360deg);
}
.work__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;
    margin: 0 24px 25px;
}
.work__links a {
    width: 44px;
    height: 44px;
}
.work_link1_out, .work_link2_out {
    width: 43px;
    height: 42px;
    margin: 0;
    border-right: none;
}
.work_link1_out {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/icons/work_link1_Out.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.work_link2_out {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #18CFAB;
    border-radius: 50%;
}
.work__back_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work__back_title p {
    margin: 0;
    line-height: 26px;
}
.work_description {
    font-size: 14px;
    font-weight: 700;
    color: #18CFAB;
    text-transform: uppercase;
}
.title_description {
    font-size: 12px;
    font-weight: 300;
    color: #8A8A8A;
}

.working__img {
    display: grid;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 0;
    row-gap: 0;
    width: 1160px;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
}

.tab_work1{background-image: url("../images/wordpress/wordpress4.jpg")}
.tab_work2{background-image: url("../images/landingpage/landing-page1.jpg")}
.tab_work3{background-image: url("../images/graphicdesign/graphic-design2.jpg")}
.tab_work4{background-image: url("../images/webdesign/web-design6.jpg")}
.tab_work5{background-image: url("../images/landingpage/landing-page5.jpg")}
.tab_work6{background-image: url("../images/graphicdesign/graphic-design4.jpg")}
.tab_work7{background-image: url("../images/wordpress/wordpress5.jpg")}
.tab_work8{background-image: url("../images/webdesign/web-design4.jpg")}
.tab_work9{background-image: url("../images/wordpress/wordpress2.jpg")}
.tab_work10{background-image: url("../images/graphicdesign/graphic-design6.jpg")}
.tab_work11{background-image: url("../images/landingpage/landing-page7.jpg")}
.tab_work12{background-image: url("../images/webdesign/web-design2.jpg")}
/*additional img 12*/
.tab_work13{background-image: url("../images/wordpress/wordpress10.jpg")}
.tab_work14{background-image: url("../images/webdesign/web-design1.jpg")}
.tab_work15{background-image: url("../images/graphicdesign/graphic-design9.jpg")}
.tab_work16{background-image: url("../images/wordpress/wordpress3.jpg")}
.tab_work17{background-image: url("../images/webdesign/web-design3.jpg")}
.tab_work18{background-image: url("../images/graphicdesign/graphic-design1.jpg")}
.tab_work19{background-image: url("../images/landingpage/landing-page2.jpg")}
.tab_work20{background-image: url("../images/graphicdesign/graphic-design5.jpg")}
.tab_work21{background-image: url("../images/wordpress/wordpress1.jpg")}
.tab_work22{background-image: url("../images/webdesign/web-design5.jpg")}
.tab_work23{background-image: url("../images/landingpage/landing-page4.jpg")}
.tab_work24{background-image: url("../images/wordpress/wordpress6.jpg")}
/*one more additional 12 images*/
.tab_work25{background-image: url("../images/wordpress/wordpress7.jpg")}
.tab_work26{background-image: url("../images/webdesign/web-design7.jpg")}
.tab_work27{background-image: url("../images/graphicdesign/graphic-design7.jpg")}
.tab_work28{background-image: url("../images/wordpress/wordpress8.jpg")}
.tab_work29{background-image: url("../images/graphicdesign/graphic-design12.jpg")}
.tab_work30{background-image: url("../images/wordpress/wordpress10.jpg")}
.tab_work31{background-image: url("../images/landingpage/landing-page3.jpg")}
.tab_work32{background-image: url("../images/graphicdesign/graphic-design9.jpg")}
.tab_work33{background-image: url("../images/wordpress/wordpress9.jpg")}
.tab_work34{background-image: url("../images/graphicdesign/graphic-design11.jpg")}
.tab_work35{background-image: url("../images/landingpage/landing-page6.jpg")}
.tab_work36{background-image: url("../images/graphicdesign/graphic-design10.jpg")}
/*  grafic 10 */



.tab__img.img__hide {
    display: none;
}
.tab__img.img__hide2 {
    display: none;
}
.working__button.working__button_hide {
    width: 169px;
    height: 63px;
    padding: 0;
    margin: 0;
    background: #E9EDEF;
}
.work__button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 169px;
    height: 63px;
    background: #18CFAB;
    color: white;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    position: relative;
    margin: 70px auto 99px;
}

.button_work_loaded,.button_gallery_loaded {
    display: none;
}
.button_work_loaded.active, .button_gallery_loaded.active {
    display: block;
    position: absolute;
    top: -45%;
    left: 42%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 10px solid rgba(255, 255, 255, .1);
    border-top: 10px solid #fff;
    animation: animateLoad 2s infinite linear;
}
@keyframes animateLoad {
    0% {
        transform: translate(-20%, 50%) rotate(0deg);
    }
    100% {
        transform: translate(-20%, 50%) rotate(360deg);
    }
}

.plus_work, .plus_gallery {
    margin-right: 15px;
    opacity: 1;
}
.paragraph_load1, .paragraph_load2 {
    margin: 0;
    padding: 0;
}
.plus_work.active, .plus_gallery.active, .paragraph_load1.active, .paragraph_load2.active {
    opacity: 0;
}

/*section__news*/
.section__news {
    display: flex;
    width: 100%;
    background: #FFFFFF;
    padding: 0;
    margin: 0;
}
.news__container {
    width: 1160px;
    height: 744px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 82px auto 129px;
}
.news__banners {
    display: grid;
    grid-template-columns: repeat(4, 263px);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 44px;
    column-gap: 35px;
    margin: 0 auto;
    padding-left: 0;
    height: auto;
    list-style: none;
}
.news__li {
    /*width: 263px;*/
    /*height: 280px;*/
}
.news__link {
    text-decoration: none;
}
.img__news {
    width: 263px;
    height: 208px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.news__li_1 {background-image: url("../images/SectionNews/Smartphone.jpg");}
.news__li_2 {background-image: url("../images/SectionNews/news2.jpg");}
.news__li_3 {background-image: url("../images/SectionNews/news3.png");}
.news__li_4 {background-image: url("../images/SectionNews/news4.jpg");}
.news__li_5 {background-image: url("../images/SectionNews/news5.jpg");}
.news__li_6 {background-image: url("../images/SectionNews/news6.jpg");}
.news__li_7 {background-image: url("../images/SectionNews/news7.png");}
.news__li_8 {background-image: url("../images/SectionNews/news8.jpg");}

.news__date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    position: absolute;
    width: 70px;
    height: 68px;
    right: 0;
    top: 0;
    background: #203E38;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    font-style: normal;
}
.news__description {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 264px;
    height: 72px;
    text-align: left;
    padding-left: 10px;
    margin: 0;
}
.news__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    text-align: center;
    align-content: center;
    color: #717171;
    margin: 3px 0 0;
    width: 211px;
    height: 40px;
}
.news__comment {
    font-weight: 300;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #777777;
    width: 210px;
    height: 30px;
    padding-left: 4px;
}
.news__comment_admin::after {
    content: "";
    border-left: 1px solid #777777;
    margin-left: 17px;
}
.news__li:hover .news__date {
    background: #18CFAB;
}
.news__li:hover .news__title {
    color: #18CFAB;
}


/*section__people*/
.section__people {
    display: flex;
    width: 100%;
    height: 853px;
    background-image: url("../images/Sections background/Layer333.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.people__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 1160px;
    height: 658px;
    margin: auto;
    font-style: normal;
    position: relative;
}
.people__title {
    color: #FFFFFF;
    margin-bottom: 57px;
}
.people__quote {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 397px;
}
.quote__icon {
    background-image: url("../images/Combined shape 2474.svg");
    width: 44px;
    height: 30px;
}
.people__quotes{
    color: #BBBBBB;
    font-weight: 300;
    font-size: 16px;
    margin: 0 auto;
}
.people__quote_personal {
    display: none;
    color: #BBBBBB;
    font-weight: 300;
    font-size: 16px;
    margin: 0 auto;;
}
.people__quote_personal.active {
    display: block;
}
.person__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 42px;
}
.person__name {
    display: none;
    color: #18CFAB;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 auto;
    right: 0;
    top: 0;
}
.person__name.active {
    display: block;
    animation-name: nameJob;
    animation-duration: 1s;
}
@keyframes nameJob {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.person__job_title {
    display: none;
    color: #BBBBBB;
    font-weight: 300;
    font-size: 13px;
    margin: 0 auto;
}
.person__job_title.active {
    display: block;
}
.person__photo_quote {
    display: flex;
    width: 166px;
    height: 166px;
    position: relative;
    background: rgba(31,218,181,0.2);
    border-radius: 50%;
}
.photo_img_quote {
    display: none;
    width: 142px;
    height: 142px;
    margin: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 0;
    top: 0;
    border-radius: 50%;
    animation-name: photoCenter;
    animation-duration: 1s;
}
@keyframes photoCenter {
    0% {opacity: 0;
        border-radius: 0;
        width: 222px;
        height: 222px;
        left: -150px;
        top: -150px;
    }
    100% {
        opacity: 1;
        border-radius: 50%;
        width: 142px;
        height: 142px;
    }
}

.photo_img_quote.active {
    display: block;
}
.photo_img_quote.photo1 {
    background-image: url("../images/SectionPeople/ElonMusk.jpg");
}
.photo_img_quote.photo2 {
    background-image: url("../images/SectionPeople/VictoriaBeckham.jpg");
}
.photo_img_quote.photo3 {
    background-image: url("../images/SectionPeople/MartinLuterKing.jpg");
}
.photo_img_quote.photo4 {
    background-image: url("../images/SectionPeople/CocoChannel.jpg");
}
.photo_img_quote.photo5 {
    background-image: url("../images/SectionPeople/Platon.jpg");
}
.photo_img_quote.photo6 {
    background-image: url("../images/SectionPeople/JohnLennon.jpg");
}
.photo_img_quote.photo7 {
    background-image: url("../images/SectionPeople/WinstonChurchill.jpg");
}


.people__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 483px;
    height: 70px;
}
.slider__mini {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 120px;
    overflow: hidden;
}
.slider__mini_photo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: left 1s;
    left: 0;
}
.person__photo {
    display: flex;
    width: 71px;
    height: 72px;
    cursor: pointer;
    position: relative;
    bottom: 0;
    background: rgba(31,218,181,0.2);
    border-radius: 50%;
    transition: all ease 1s;
    margin: 0 13px;
}
.person__photo.active, .person__photo:hover {
    display: flex;
    width: 71px;
    height: 72px;
    position: relative;
    bottom: 20px;
    background: rgba(31,218,181,0.2);
    border-radius: 50%;
    transition: all ease 1s;
}
.photo_img {
    width: 61px;
    height: 61px;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 0;
    top: 0;
    border-radius: 50%;
}
.photo1 {
    background-image: url("../images/SectionPeople/ElonMusk.jpg");
}
.photo2 {
    background-image: url("../images/SectionPeople/VictoriaBeckham.jpg");
}
.photo3 {
    background-image: url("../images/SectionPeople/MartinLuterKing.jpg");
}
.photo4 {
    background-image: url("../images/SectionPeople/CocoChannel.jpg");
}
.photo5 {
    background-image: url("../images/SectionPeople/Platon.jpg");
}
.photo6 {
    background-image: url("../images/SectionPeople/JohnLennon.jpg");
}
.photo7 {
    background-image: url("../images/SectionPeople/WinstonChurchill.jpg");
}

.left_scroll_button,.right_scroll_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    position: relative;
}
.left_scroll_button::after,.right_scroll_button::after{
    color: #BBBBBB;
    font-size: 30px;
    font-weight: 500;
    position: absolute;
    top: -5px;
}
.left_scroll_button::after {
    content: "\2039";
}
.right_scroll_button::after {
    content: "\203A";
}

.left_scroll_button:hover, .right_scroll_button:hover {
    background: #18CFAB;
}
.left_scroll_button:hover::after, .right_scroll_button:hover::after {
    color: #FFFFFF;
}


/*section__gallery*/
.section__gallery {
    margin-top: 13px;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.0001);
}
.gallery__container {
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 97px auto 67px;
}
.gallery__grid {
    width: 1200px;
    height: auto;
    position: relative;
}
.gallery__grid.active {
    width: 1200px;
    height: auto;
    position: relative;
    margin-bottom: 182px;
}
.back__gallery_img {
    display: none;
    width: 100%;
    height: 100%;
}
.back__gallery_img.active {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
}
.gallery__item_big {
    padding: 10px;
}
.gallery__item_big img {
    padding: 15px;
    width: 150%;
    height: 150%;
}
.gallery__img_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: rgba(20, 185, 213, 0.9);
    margin: 0 auto;
    padding: 10px;
}
.gallery__img_title span {
    font-size: 30px;
}
.grid {
    height: auto;
}
.grid-item {
    float: left;
    border: none;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.grid_collection_small {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.grid_collection_smallest {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
}
.grid-item_smallest {
    margin: 2px;
}

.width1 { width: 115px;}
.width2 { width: 119px;}
.width3 {}
.width4 { width: 180px; margin: 10px 1.5px 1.5px 1.5px; }
.width5 { width: 363px; }
.width6 { width: 378px; margin-right: 20px; margin-bottom: 10px; margin-top: 10px}

.height1 { height: 92px; }
.height2 { height: 168px; }
.height3 { height: 247px; }
.height4 { height: 254px; }
.height5 { height: 263px; }
.height6 { height: 290px; }
.height7 { height: 373px;
    margin-top: 15px;
}
.height8 { height: 380px; }


.gallery__back_block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s;
    background: rgba(0, 0, 0, 0.64);
    position: inherit;
    height: 100%;
    width: 100%;
    margin: 0;
}
.grid-item:hover .gallery__back_block,
.grid-item_small:hover .gallery__back_block,
.grid-item_smallest:hover .gallery__back_block {
    opacity: 1;
}

.gallery__find, .gallery__big {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/SectionGallery/Rectangle.svg");
    width: 27px;
    height: 25px;
    cursor: pointer;
}

.grid_item_1 {background-image: url("../images/SectionGallery/midle/11.png")}
.grid_item_2 {background-image: url("../images/SectionGallery/big/1.png")}
.grid_item_3 {background-image: url("../images/SectionGallery/small/1.png")}
.grid_item_4 {background-image: url("../images/SectionGallery/small/2.png")}
.grid_item_5 {background-image: url("../images/SectionGallery/smallest/11.png")}
.grid_item_6 {background-image: url("../images/SectionGallery/smallest/22.png")}
.grid_item_7 {background-image: url("../images/SectionGallery/smallest/33.png")}

.grid_item_8 {background-image: url("../images/SectionGallery/smallest/44.png")}
.grid_item_9 {background-image: url("../images/SectionGallery/smallest/55.png")}
.grid_item_10 {background-image: url("../images/SectionGallery/smallest/66.png")}
.grid_item_11 {background-image: url("../images/SectionGallery/smallest/77.png")}
.grid_item_12 {background-image: url("../images/SectionGallery/smallest/88.png")}
.grid_item_13 {background-image: url("../images/SectionGallery/smallest/99.png")}

.grid_item_14 {background-image: url("../images/SectionGallery/midle/22.png")}
.grid_item_15 {background-image: url("../images/SectionGallery/midle/33.png")}

.grid_item_16 {background-image: url("../images/SectionGallery/big/2.png")}
.grid_item_17 {background-image: url("../images/SectionGallery/midle/44.png")}
.grid_item_18 {background-image: url("../images/SectionGallery/midle/55.png")}

.grid-item_hide {
    display: none;
}
.span_gallery {
    cursor: pointer;
}

/*footer*/

.footer {
    width: 100%;
    height: 121px;
    left: 0;
    top: 0;
    background: #22353F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__content {
    margin: auto;
    color: #AEAEAE;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
}
.the__ham__footer {
    color: #18CFAB;
}