*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;
    height: auto;
    font-family: sans-serif;
    font-size: 16px;
    color: #000;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    border: none;
}
body {
    font: 16px Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/*a,*/
/*a:visited,*/
/*a:active,*/
/*a:focus {*/
/*    color: #0091d9;*/
/*    text-decoration: none;*/
/*}*/

/*a:hover,*/
/*a:active,*/
/*a:focus {*/
/*    color: #ff6163;*/
/*}*/

/*.slider-container {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    margin-top: 50px;*/
/*}*/

/*.arrow {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    font-size: 50px;*/
/*    background: #d23166;*/
/*    border: 2px solid black;*/
/*}*/

/*.slider {*/
/*    display: flex;*/
/*    width: 100px;*/
/*    overflow: hidden;*/
/*    margin: 0 10px;*/
/*}*/

/*.items {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    !*   display: flex; *!*/
/*    position: relative;*/
/*    color: #444;*/
/*    font-size: 30px;*/
/*    margin: 0 auto;*/
/*    border: 1px solid #444;*/
/*    overflow: hidden;*/

/*    !*   will-change: right;*/
/*      transition: right .3s; *!*/
/*}*/

/*.item {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    !*position: absolute;*!*/
/*    !*   display: flex;*/
/*      align-items: center;*/
/*      justify-content: center; *!*/
/*    background-color: papayawhip;*/
/*    !*   box-sizing: border-box; *!*/
/*    !*   border: 1px solid #444; *!*/
/*    transition: all ease .6s;*/
/*    left: 0;*/
/*    top: 0;*/
/*}*/

/*!* .item ~ .item {*/
/*  border-left: none;*/
/*}*/
/* *!*/

/*<-------------------     other variant    ------------------>*/

.infinity-slider-wrap {
    border: 2px solid red;
    width: 800px;
    height: 900px;
    margin: 50px auto;
    position: relative;
}
.infinity-slider {
    width: 800px;
    height: 900px;
    overflow: hidden;
    position: relative;
}
.infinity-slider img {
    width: 800px;
    height: 900px;
    position: absolute;
    opacity: 1;
    transition: all ease 1s;
}
.infinity-slider .opacity0 {
    opacity: 0;
}

.btn-infinity-up, .btn-infinity-down {
    display: flex;
    width: 250px;
    height: 250px;
    margin-right: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.btn-infinity-down {
    background: black;
    border: #18CFAB;
    color: white;
}
.btn-infinity-up {
    background: #00CBF6;
    border: black;
}
.btn-container {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px auto;
}

























