*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;
    height: auto;
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    color: #000;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    border: none;
}
.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    background: url(../images/BackgroundImage.png) 0 0 / cover no-repeat;
}
.page__header {
    width: 100%;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 79px;
    line-height: 22px;
}
.header_logo {
    width: 157px;
}
.logo_text {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}
.header__contact {
    width: 410px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 118px;
    position: relative;
}
.header__menu::after {
    content: "";
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    position: absolute;
    top: 3px;
    right: -60px;
}
.header__welcome {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #ffffff;
    margin: 0;
    width: 176px;
}
.login__text {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}
.logo_text:hover, .hover_green:hover, .header__menu svg:hover {
    color: #3CB878;
    cursor: pointer;
    fill: #3CB878;
}
/*.hover_green {*/
/*    color: #3CB878;*/
/*}*/
.header__menu svg {
    fill: #ffffff;
}

.form__wrapper {
    width: 444px;
    background: #ffffff;
    margin: 112px auto 74px;
    position: relative;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.form__wrapper::before {
    content: "";
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    top: 29px;
    left: 0;
}
.form__general {
    margin: 0 auto 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 584px;
}
.sign__log {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 324px;
}
.sign__log p {
    font-weight: 400;
    margin: 31px 0 15px;
    line-height: 14px;
}
.sign {
    font-size: 20px;
}
.log {
    font-size: 14px;
    color: #3CB878;
}
.facebook__google {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 324px;
    height: 48px;
    position: relative;
}
.facebook__google button {
    width: 160px;
    height: 48px;
    border: none;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    position: relative;
}
.facebook__google img {
    margin-right: 38px;
}
.btn__blue::after, .btn__red::after {
    content: "";
    width: 1px;
    height: 28px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    position: absolute;
    top: 10px;
    left: 52px;
}
.btn__blue {
    background: #305DB8;
}
.btn__blue:hover {
    background: #022263;
    cursor: pointer;
}
.btn__red {
    background: #DF4A32;
}
.btn__red:hover {
    background: #AB1F09;
    cursor: pointer;
}
.btn__red img {
    margin-left: -12px;
}
.facebook__google p {
    font-weight: 400;
    margin: 0;
}
.or {
    position: relative;
}
.or::before {
    width: 152px;
    height: 1px;
    left: -160px;
    top: 9px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    content: "";
    position: absolute;
}
.or::after {
    width: 152px;
    height: 1px;
    left: 20px;
    top: 9px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    content: "";
    position: absolute;
}
.form__inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    width: 324px;
    height: 385px;
}
.form__element {
    width: 324px;
    height: 45px;
    border: 1px solid #F2F2F2;
    color: #BEBEBE;
    background: #FFFFFF;
    border-radius: 4px;
    padding-left: 20px;
}
.form__element:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border: none;
    outline: none;
    color: #434343;
}
.checkbox__form {
    font-size: 14px;
    font-weight: 400;
    color: #434343;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 324px;
    height: 20px;
}
.label {
    cursor: pointer;
    align-items: center;
    display: flex;
}
.checkbox {
    display: none;
}
.checkbox__change {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    position: relative;
}
.checkbox__change::before {
    content: "";
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(50deg) skewX(20deg);
    display: block;
    width: 10px;
    height: 14px;
    border-right: 2px solid #3CB878;
    border-bottom: 2px solid #3CB878;
    opacity: 0;
    transition: .2s;
}
.checkbox__change:hover::before {
    border-right: 2px solid #01813F;
    border-bottom: 2px solid #01813F;
}
.checkbox:checked + .checkbox__change::before {
    opacity: 1;
}
.checkbox__text {
    display: inline-block;
    color: #3CB878;
    margin: 0;
}
.checkbox__text:hover, .log:hover {
    color: #01813F;
    cursor: pointer;
    position: relative;
}
.checkbox__text:hover::after, .log:hover::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 1px;
    background: #01813F;
    cursor: pointer;
    bottom: 0;
    left: 0;
}

.btn__accept {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    margin: 20px auto 0;
    cursor: pointer;
}
.btn__accept_text {
    margin: 0;
    color: #FFFFFF;
}
.btn__accept:hover {
    background: #01813F;
}