*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    font-size: 16px;
    color: #000;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    border: none;
}
.alert_text {
    display: none;
    border: 15px solid green;
    border-radius: 5px;
    text-align: center;
    width: 1000px;
    height: 150px;
    margin: 200px 400px;
    background: darkseagreen;
    color: antiquewhite;
}
.alert_text.active {
    display: flex;
}