*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    font-size: 16px;
    color: #000;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    border: none;
}
.page {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/background_parallax.png) 0 0 / cover no-repeat;
}
.container_H {
    display: flex;
    width: 1030px;
    height: auto;
    margin: 0 auto;
}
.page__header {
    display: flex;
    justify-content: space-between;
    margin: 46px auto 17px;
    width: 1028px;
    height: 61px;
}
.logo {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 53px 140px;
    grid-template-rows: 30px 21px;
    column-gap: 8px;
    grid-template-areas:
    "logo_img first__text"
    "logo_img second__text";
    padding: 5px 0;
}
.logo_img {
    grid-area: logo_img;
    background-image: url("../images/logo_img.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 53px;
    height: 47px;
}
.first__text {
    font-weight: bold;
    font-size: 29px;
    text-transform: uppercase;
    color: #ffffff;
    grid-area: first__text;
    margin: 0;
}
.second__text {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    grid-area: second__text;
    margin: 0;
}
.logo:hover .logo_img {
    background-image: url("../images/logo_2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.logo:hover .first__text,
.logo:hover .second__text
{
    color:#F26522;
}
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: flex-start;
    height: 61px;
}
.contact_link {
    text-decoration: none;
    color: #ffffff;
    height: 21px;
    margin-left: 0;
    padding-left: 0;
    align-self: flex-end;
    align-items: center;
}
.contact_link:hover {
    color:#F26522;
}
.header__subtitle {
    font-size: 18px;
    line-height: 18px;
    margin: 0 auto;
}
.container_M {
    display: flex;
    width: 1030px;
    margin: 0 auto;
}
.page__main {
    display: block;
    width: 1030px;
    margin: 0 auto;
}
.tours__list {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 37px;
    column-gap: 62px;
    margin: 0 auto;
    padding-left: 0;
    height: auto;
    list-style: none;
}
.tours__item {
    display: flex;
    flex-direction: column;
}
.tours__link {
    color: white;
}
.tours__img {
    position: relative;
    width: 300px;
    height: 220px;
    border-left: 2px solid;
    border-right: 2px solid;
    /*background-image: url("../images/1image.png");*/
    background-size: cover;
    background-repeat: no-repeat;
    border-image: linear-gradient(to top, #000000, #ffffff) 1 100%;
}
.item1_img {
    background-image: url("../images/1image.png");
}
.item2_img {
    background-image: url("../images/2image.png");
}
.item3_img {
    background-image: url("../images/3image.png");
}
.item4_img {
    background-image: url("../images/4image.png");
}
.item5_img {
    background-image: url("../images/5image.png");
}
.item6_img {
    background-image: url("../images/6image.png");
}
.img__subtitle {
    display: flex;
    background-color: #F26522;
    color: #ffffff;
    justify-content: space-between;
    align-items: end;
    padding: 0 12px;
    height: 55px;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;

    width: 100%;
    bottom: -20%;
    transition-property: bottom;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
    transition-delay: 0.3s;
}
.tours__item:hover .tours__subtitle {
    color:#F26522;
}
.tours__item:hover .img__subtitle{
    opacity: 1;
    bottom: 0;
}
.subtitle_info_1 {
    display: grid;
    align-self: end;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding-bottom: 12px;
}
.subtitle_info_2 {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    padding-bottom: 12px;
}
.subtitle_info_1::before {
    content: "from";
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 8px;
}
.subtitle_info_2::after {
    content: url("../images/Vector_1.png");
    width: 5px;
    height: 10px;
    margin-left: 16px;
}
.tours__subtitle {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
}
.container_F {
    width: 1030px;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 15px;
}
.page__footer {
    display: flex;
    align-items: center;
    text-align: center;
    width: 306px;
    height: 21px;
    margin: 0 auto;
}
.footer_text {
    font-size: 12px;
    line-height: 12px;
    color: #ffffff;
}
