@import "variables";
body{
  margin: 0;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}
.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  @media (max-width: 480px) {
    max-width: none;
  }
  @media (max-width: 992px) {
    max-width: 992px;
  }
  @media (max-width: 1200px) {
    max-width: 993px;
  }
}