@use "mixins";
@use "variables";


@media (min-width: 320px) and (max-width: 480px) {
  .navigation {
    @include mixins.flex-row;
    background: black;

    &__logo-container {
      @include mixins.flex-row;

      &_forkio {
        text-transform: uppercase;
        font-size: 24px;
        @include mixins.font;
        color: variables.$violetColor;
      }
    }

    &__menu {

      &-item {
        color: variables.$whiteColor;

        &:focus {
          color: variables.$violetColor;
        }
      }
    }

    &__button {
      width: 119px;
      @include mixins.font-size;
      background: variables.$violetColor;
      color: variables.$whiteColor;
      border-radius: 40px;
    }

    &__bar {
      margin-top: 10px;
      display: flex;
      flex-direction: column;

      &-item {
        margin-bottom: 5px;

        &:first-child {
          margin-left: 10px;
        }
      }
    }
  }
}



@media (min-width: 481px) and (max-width: 992px) {

}

@media (min-width: 993px) and (max-width: 1200px) {
  .navigation {
    @include mixins.flex-row;

    &__logo-container {
      @include mixins.flex-row;

      &_forkio {
        text-transform: uppercase;
        font-size: 24px;
        @include mixins.font;
        color: variables.$violetColor;
      }
    }

    &__menu {
      @include mixins.flex-row;

      &-item {

        color: variables.$violetColor;
      }
    }

    &__button {
      @include mixins.font-size;
      background: variables.$violetColor;
      color: variables.$whiteColor;
      border-radius: 40px;
      width: 119px;
    }
  }
}

.active {
  display: block;
}

.hide {
  display: none;
}