//@mixin imageBlock {
//  width: 100%;
//  height: 100%;
//  display: block;
//}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin font {
  font-weight: 700;
  line-height: 16px;
}

@mixin font-size {
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
}