@import "variables";
.container-editor {
  @media (max-width: 480px) {
    max-width: none;
    padding-left: 23px;
    padding-right: 24px;
    text-align: center;
    &--title{
      font-weight: 700;
      font-size: 26px;
      line-height: 28px;
      color: $middleVioletColor;
      text-transform: uppercase;
      padding-bottom: 27px;
    }
    &--description {
      padding-bottom: 36px;
      color: $middleGreyColor;
    }
    &__svg1 {
      min-width: 100%;
      padding-bottom: 20px;
    }
  }
  @media (max-width: 992px) {
    max-width: 992px;
  }
  @media (max-width: 1200px) {
  max-width: 993px;
  }
}