//$hardColor: #4E4E4E;

//$widthContainer: 1170px;

$violetColor: #8D81AC;
$middleVioletColor: #635C73;
$whiteColor: #FFFFFF;
$lightGreyColor: #848E97;
$middleGreyColor: #323232;
$peopleComment: #A291A5;

$font: "Montserrat"


